[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/soderstrom-rikard/vim-colors-solarized.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/bitbake"]
	path = .vim/bundle/bitbake
	url = https://github.com/kergoth/vim-bitbake
[submodule ".vim/bundle/plantuml"]
	path = .vim/bundle/plantuml
	url = https://github.com/aklt/plantuml-syntax
[submodule ".vim/bundle/typescript"]
	path = .vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
